<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.databaes.pantrypals">

    <application
        android:name="pantrypals.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pantrypals.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pantrypals.activities.RegistrationActivity" />
        <activity android:name="pantrypals.activities.HomeActivity" />
        <activity android:name="pantrypals.activities.NewRecipeActivity"></activity>
    </application>

</manifest>